    <div id="todoapp">
        <div class="title">
            <h1>
                Users
            </h1>
        </div>
        <div class="content">
        <p>
            Originally Created by
            <br>
            <a href="http://jgn.me/">Jérôme Gravel-Niquet</a>
        </p>
        <p>
            Rewritten by
            <br>
            <a href="http://cburgdorf.wordpress.com/">Christoph Burgdorf</a>
        </p>
        <p>
            This clone of backbones todo App has been written with
            <a href="http://angularjs.org">AngularJS </a>
            Feel free to fork the code and play a little! Find it here at
            <a href="https://github.com/cburgdorf/Angular-ToDo-App"> my github repository</a>
        </p>
        </div>
        <a href="#/main">Go Back</a>
    </div>